.snakemake/*
data/*
predict/data/predictions_folder/*
prepare/data/predictions_folder/*
predict/data/predictor_files/*
prepare/data/predictor_files/*
predict/data/homer_files/*
prepare/data/homer_files/*
logs/*
output/*
cmd_*